$label-width: 220px; // 表单label宽度
body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: MarkOffc-m, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  // font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
}

#app{
  height: 100%;
  overflow: hidden;
}

.wrapper-container {
  padding: 10px;
  .page-title {
    font-size: 16px;
    color: #606266;
  }
  .add-edit-form, .detail-form {
    .el-form-item {
      width: 100%;
      text-align: left;
      &__content {
        width: 60%;
        max-width: calc(100% - #{$label-width});
      }
    }
  }
  .submit-btn-area {
    text-align: center;
  }
}
